.g-0{
    padding: 0px!important;
    margin: 0px!important;
}
.carousel-inner a{
    color: rgb(255, 255, 255);
    font-size: 24px;
}
.carousel-inner a:hover{
    color: rgb(238, 255, 0);
}
.carousel-indicators li {
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
  }
/* .carousel-caption {
      background:linear-gradient(0deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,.2) 100%);
      left:0;
      right:0;
      bottom:0;
      padding:10px;
      text-align:center;
      border-radius: 5%;
    } */

.side-widget-cat ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
    }

.side-widget-cat ul li, .side-widget-cat ul li a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(35, 0, 189);
    cursor: pointer;
    }
.side-widget-cat ul li:hover, .side-widget-cat ul li a:hover {
   color: rgb(218, 0, 0);
}

/* Searchbar Autocomplete Background Color Change*/
.ui-menu .ui-menu-item-wrapper {
border-bottom: 1px solid #e0e0e0;
}
.ui-menu .ui-menu-item-wrapper:hover, .ui-menu .ui-menu-item-wrapper.ui-state-active {
    color: #ffffff;
    background: #005064;
}

/* Breadcrumb*/
.sugg ol.breadcrumb {
    flex-wrap: unset;
    white-space: nowrap;
  }

  .sugg ol.breadcrumb > li:not(:first-child):not(:last-child){
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* breakdown to hide it on small devices */
  @media (max-width: 576px) {
    .sugg ol.breadcrumb > li:not(:first-child):not(:last-child){
      visibility: hidden;
      width: 0;
      padding: 0;

    }
    .sugg ol.breadcrumb > li:last-child:before {
      content: var(--bs-breadcrumb-divider, "/ ... /");
    }
     .sugg ol.breadcrumb > li:last-child {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

.display-comment .date {
    font-size: 11px
}

.display-comment .comment-text {
    font-size: 14px;
    margin: 0px;
}

.display-comment .fs-12 {
    font-size: 12px
}

.display-comment .shadow-none {
    box-shadow: none
}

.display-comment .name {
    color: #007bff
}

.display-comment .cursor:hover {
    color: blue
}

.display-comment .cursor {
    cursor: pointer
}

.display-comment .triangle {
    position: relative;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #fafafa;
    padding: 2px 2px 3px 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
.display-comment .triangle::after{
      z-index: -10;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      margin-left: 0;
      bottom: 0;
      top: calc(15px - 5px);
      left:0;
      box-sizing: border-box;
      border: 5px solid #fff;
      border-color: transparent transparent #fff #fff;
      transform-origin: 0 0;
      transform: rotate(45deg);
      box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    }
.display-comment .triangle::before{
      z-index: 10;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      margin-left: 0;
      bottom: 0;
      top: calc(15px - 5px);
      left:0;
      box-sizing: border-box;
      border: 5px solid black;
      border-color: transparent transparent #fff #fff;
      transform-origin: 0 0;
      transform: rotate(45deg);
    }

.comment-textarea-triangle {
        position: relative;
        box-sizing: border-box;
        background: #fff;
        border: 1px solid #fafafa;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
      }
.comment-textarea-triangle::after{
          z-index: -10;
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          margin-left: 0;
          bottom: 0;
          top: calc(15px - 5px);
          left:0;
          box-sizing: border-box;
          border: 5px solid #fff;
          border-color: transparent transparent #fff #fff;
          transform-origin: 0 0;
          transform: rotate(45deg);
          box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
        }
.comment-textarea-triangle::before{
          z-index: 10;
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          margin-left: 0;
          bottom: 0;
          top: calc(15px - 5px);
          left:0;
          box-sizing: border-box;
          border: 5px solid black;
          border-color: transparent transparent #fff #fff;
          transform-origin: 0 0;
          transform: rotate(45deg);
        }

.all-recent-btn{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: darkblue;
    border-bottom: 1px dashed darkblue;
}
.all-recent-btn:hover{
color: brown;
}
