.carousel-inner a{
    color: black;
}
.carousel-inner a:hover{
    color: rgb(255, 0, 0);
}
.carousel-indicators li {
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
  }
