.g-0{
    padding: 0px!important;
    margin: 0px!important;
}
.carousel-inner a{
    color: rgb(255, 255, 255);
    font-size: 24px;
}
.carousel-inner a:hover{
    color: rgb(238, 255, 0);
}
.carousel-indicators li {
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
  }
.carousel-caption {
      background:linear-gradient(0deg,rgba(0,0,0,0.8) 0%,rgba(0,0,0,.2) 100%);
      left:0;
      right:0;
      bottom:0;
      padding:10px;
      text-align:center;
      border-radius: 5%;
    }

.side-widget-cat ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
    }

.side-widget-cat ul li, .side-widget-cat ul li a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(35, 0, 189);
    cursor: pointer;
    }
.side-widget-cat ul li:hover, .side-widget-cat ul li a:hover {
   color: rgb(218, 0, 0);
}

/* Searchbar Autocomplete Background Color Change*/
.ui-menu .ui-menu-item-wrapper {
border-bottom: 1px solid #e0e0e0;
}
.ui-menu .ui-menu-item-wrapper:hover, .ui-menu .ui-menu-item-wrapper.ui-state-active {
    color: #ffffff;
    background: #005064;
}

/* Breadcrumb*/
.sugg ol.breadcrumb {
    flex-wrap: unset;
    white-space: nowrap;
  }

  .sugg ol.breadcrumb > li:not(:first-child):not(:last-child){
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* breakdown to hide it on small devices */
  @media (max-width: 576px) {
    .sugg ol.breadcrumb > li:not(:first-child):not(:last-child){
      visibility: hidden;
      width: 0;
      padding: 0;

    }
    .sugg ol.breadcrumb > li:last-child:before {
      content: var(--bs-breadcrumb-divider, "/ ... /");
    }
     .sugg ol.breadcrumb > li:last-child {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
